<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni041D</key>
    <string>uni041D_.glif</string>
    <key>uni0412</key>
    <string>uni0412.glif</string>
    <key>uni0413</key>
    <string>uni0413.glif</string>
    <key>uni0415</key>
    <string>uni0415.glif</string>
    <key>uni0416</key>
    <string>uni0416.glif</string>
    <key>uni0414</key>
    <string>uni0414.glif</string>
    <key>uni0410</key>
    <string>uni0410.glif</string>
    <key>uni0411</key>
    <string>uni0411.glif</string>
    <key>uni041A</key>
    <string>uni041A_.glif</string>
    <key>uni041E</key>
    <string>uni041E_.glif</string>
    <key>uni0417</key>
    <string>uni0417.glif</string>
    <key>uni0418</key>
    <string>uni0418.glif</string>
    <key>uni041B</key>
    <string>uni041B_.glif</string>
    <key>uni041C</key>
    <string>uni041C_.glif</string>
    <key>uni0445</key>
    <string>uni0445.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni0419</key>
    <string>uni0419.glif</string>
    <key>uni0420</key>
    <string>uni0420.glif</string>
    <key>uni0422</key>
    <string>uni0422.glif</string>
    <key>uni043D</key>
    <string>uni043D_.glif</string>
    <key>uni041F</key>
    <string>uni041F_.glif</string>
    <key>uni0421</key>
    <string>uni0421.glif</string>
    <key>uni0423</key>
    <string>uni0423.glif</string>
    <key>uni0424</key>
    <string>uni0424.glif</string>
    <key>uni0425</key>
    <string>uni0425.glif</string>
    <key>uni0426</key>
    <string>uni0426.glif</string>
    <key>uni0427</key>
    <string>uni0427.glif</string>
    <key>uni0428</key>
    <string>uni0428.glif</string>
    <key>uni0429</key>
    <string>uni0429.glif</string>
    <key>uni042A</key>
    <string>uni042A_.glif</string>
    <key>uni042B</key>
    <string>uni042B_.glif</string>
    <key>uni042C</key>
    <string>uni042C_.glif</string>
    <key>uni042D</key>
    <string>uni042D_.glif</string>
    <key>uni042E</key>
    <string>uni042E_.glif</string>
    <key>uni042F</key>
    <string>uni042F_.glif</string>
    <key>uni0430</key>
    <string>uni0430.glif</string>
    <key>uni0431</key>
    <string>uni0431.glif</string>
    <key>uni0432</key>
    <string>uni0432.glif</string>
    <key>uni0433</key>
    <string>uni0433.glif</string>
    <key>uni0434</key>
    <string>uni0434.glif</string>
    <key>uni0435</key>
    <string>uni0435.glif</string>
    <key>uni0436</key>
    <string>uni0436.glif</string>
    <key>uni0437</key>
    <string>uni0437.glif</string>
    <key>uni0438</key>
    <string>uni0438.glif</string>
    <key>uni0439</key>
    <string>uni0439.glif</string>
    <key>uni043A</key>
    <string>uni043A_.glif</string>
    <key>uni043B</key>
    <string>uni043B_.glif</string>
    <key>uni043C</key>
    <string>uni043C_.glif</string>
    <key>uni043E</key>
    <string>uni043E_.glif</string>
    <key>uni043F</key>
    <string>uni043F_.glif</string>
    <key>uni0440</key>
    <string>uni0440.glif</string>
    <key>uni0441</key>
    <string>uni0441.glif</string>
    <key>uni0442</key>
    <string>uni0442.glif</string>
    <key>uni0443</key>
    <string>uni0443.glif</string>
    <key>uni0444</key>
    <string>uni0444.glif</string>
    <key>uni0446</key>
    <string>uni0446.glif</string>
    <key>uni0447</key>
    <string>uni0447.glif</string>
    <key>uni0448</key>
    <string>uni0448.glif</string>
    <key>uni0449</key>
    <string>uni0449.glif</string>
    <key>uni044A</key>
    <string>uni044A_.glif</string>
    <key>uni044B</key>
    <string>uni044B_.glif</string>
    <key>uni044C</key>
    <string>uni044C_.glif</string>
    <key>uni044D</key>
    <string>uni044D_.glif</string>
    <key>uni044E</key>
    <string>uni044E_.glif</string>
    <key>uni044F</key>
    <string>uni044F_.glif</string>
    <key>uni0463</key>
    <string>uni0463.glif</string>
    <key>uni0462</key>
    <string>uni0462.glif</string>
    <key>uni0472</key>
    <string>uni0472.glif</string>
    <key>uni0473</key>
    <string>uni0473.glif</string>
    <key>uni0410.ss01</key>
    <string>uni0410.ss01.glif</string>
    <key>uni0411.ss01</key>
    <string>uni0411.ss01.glif</string>
    <key>uni0412.ss01</key>
    <string>uni0412.ss01.glif</string>
    <key>uni0413.ss01</key>
    <string>uni0413.ss01.glif</string>
    <key>uni0414.ss01</key>
    <string>uni0414.ss01.glif</string>
    <key>uni0415.ss01</key>
    <string>uni0415.ss01.glif</string>
    <key>uni0416.ss01</key>
    <string>uni0416.ss01.glif</string>
    <key>uni0417.ss01</key>
    <string>uni0417.ss01.glif</string>
    <key>uni0418.ss01</key>
    <string>uni0418.ss01.glif</string>
    <key>uni0419.ss01</key>
    <string>uni0419.ss01.glif</string>
    <key>uni041A.ss01</key>
    <string>uni041A_.ss01.glif</string>
    <key>uni041B.ss01</key>
    <string>uni041B_.ss01.glif</string>
    <key>uni041C.ss01</key>
    <string>uni041C_.ss01.glif</string>
    <key>uni041D.ss01</key>
    <string>uni041D_.ss01.glif</string>
    <key>uni041E.ss01</key>
    <string>uni041E_.ss01.glif</string>
    <key>uni041F.ss01</key>
    <string>uni041F_.ss01.glif</string>
    <key>uni0420.ss01</key>
    <string>uni0420.ss01.glif</string>
    <key>uni0421.ss01</key>
    <string>uni0421.ss01.glif</string>
    <key>uni0422.ss01</key>
    <string>uni0422.ss01.glif</string>
    <key>uni0423.ss01</key>
    <string>uni0423.ss01.glif</string>
    <key>uni0424.ss01</key>
    <string>uni0424.ss01.glif</string>
    <key>uni0425.ss01</key>
    <string>uni0425.ss01.glif</string>
    <key>uni0426.ss01</key>
    <string>uni0426.ss01.glif</string>
    <key>uni0427.ss01</key>
    <string>uni0427.ss01.glif</string>
    <key>uni0428.ss01</key>
    <string>uni0428.ss01.glif</string>
    <key>uni0429.ss01</key>
    <string>uni0429.ss01.glif</string>
    <key>uni042A.ss01</key>
    <string>uni042A_.ss01.glif</string>
    <key>uni042B.ss01</key>
    <string>uni042B_.ss01.glif</string>
    <key>uni042C.ss01</key>
    <string>uni042C_.ss01.glif</string>
    <key>uni042D.ss01</key>
    <string>uni042D_.ss01.glif</string>
    <key>uni042E.ss01</key>
    <string>uni042E_.ss01.glif</string>
    <key>uni042F.ss01</key>
    <string>uni042F_.ss01.glif</string>
    <key>uni0430.ss01</key>
    <string>uni0430.ss01.glif</string>
    <key>uni0431.ss01</key>
    <string>uni0431.ss01.glif</string>
    <key>uni0432.ss01</key>
    <string>uni0432.ss01.glif</string>
    <key>uni0433.ss01</key>
    <string>uni0433.ss01.glif</string>
    <key>uni0434.ss01</key>
    <string>uni0434.ss01.glif</string>
    <key>uni0435.ss01</key>
    <string>uni0435.ss01.glif</string>
    <key>uni0436.ss01</key>
    <string>uni0436.ss01.glif</string>
    <key>uni0437.ss01</key>
    <string>uni0437.ss01.glif</string>
    <key>uni0438.ss01</key>
    <string>uni0438.ss01.glif</string>
    <key>uni0439.ss01</key>
    <string>uni0439.ss01.glif</string>
    <key>uni043A.ss01</key>
    <string>uni043A_.ss01.glif</string>
    <key>uni043B.ss01</key>
    <string>uni043B_.ss01.glif</string>
    <key>uni043C.ss01</key>
    <string>uni043C_.ss01.glif</string>
    <key>uni043D.ss01</key>
    <string>uni043D_.ss01.glif</string>
    <key>uni043E.ss01</key>
    <string>uni043E_.ss01.glif</string>
    <key>uni043F.ss01</key>
    <string>uni043F_.ss01.glif</string>
    <key>uni0440.ss01</key>
    <string>uni0440.ss01.glif</string>
    <key>uni0441.ss01</key>
    <string>uni0441.ss01.glif</string>
    <key>uni0442.ss01</key>
    <string>uni0442.ss01.glif</string>
    <key>uni0443.ss01</key>
    <string>uni0443.ss01.glif</string>
    <key>uni0444.ss01</key>
    <string>uni0444.ss01.glif</string>
    <key>uni0445.ss01</key>
    <string>uni0445.ss01.glif</string>
    <key>uni0446.ss01</key>
    <string>uni0446.ss01.glif</string>
    <key>uni0447.ss01</key>
    <string>uni0447.ss01.glif</string>
    <key>uni0448.ss01</key>
    <string>uni0448.ss01.glif</string>
    <key>uni0449.ss01</key>
    <string>uni0449.ss01.glif</string>
    <key>uni044A.ss01</key>
    <string>uni044A_.ss01.glif</string>
    <key>uni044B.ss01</key>
    <string>uni044B_.ss01.glif</string>
    <key>uni044C.ss01</key>
    <string>uni044C_.ss01.glif</string>
    <key>uni044D.ss01</key>
    <string>uni044D_.ss01.glif</string>
    <key>uni044E.ss01</key>
    <string>uni044E_.ss01.glif</string>
    <key>uni044F.ss01</key>
    <string>uni044F_.ss01.glif</string>
    <key>uni0463.ss01</key>
    <string>uni0463.ss01.glif</string>
    <key>uni0462.ss01</key>
    <string>uni0462.ss01.glif</string>
    <key>uni0472.ss01</key>
    <string>uni0472.ss01.glif</string>
    <key>uni0473.ss01</key>
    <string>uni0473.ss01.glif</string>
    <key>uni0405</key>
    <string>uni0405.glif</string>
    <key>uni0406</key>
    <string>uni0406.glif</string>
    <key>uni0456</key>
    <string>uni0456.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni0451</key>
    <string>uni0451.glif</string>
    <key>uni0401</key>
    <string>uni0401.glif</string>
    <key>uni0457</key>
    <string>uni0457.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
  </dict>
</plist>
